.box-close-button {
  width: 1em;
  height: 1em;
  padding: 0;
  border: none;
  background-color: transparent;
  align-self: flex-end;
}

.box-icon-button {
  width: 100%;
  height: 100%;
}

.add-compra-title {
  align-self: flex-start;
  color: white;
}

.add-compra-label {
  align-self: flex-start;
  color: white;
}

.add-compra-input {
  width: 100%;
  margin: 1em 0;
}

.add-compra-produtos {
  width: 100%;
  height: 6em;
  background-color: #242424;
  border-radius: 5px;
  padding: 0.5em;
  padding-left: 0;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.info-produtos-informacoes {
  width: 100%;
  display: flex;
  margin-bottom: 0.5em;
}

.info-produtos-checkbox {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  display: inline-block;
  margin: 0;
}

.produto-label {
  width: 100%;
  height: auto;
  font-size: 1em;
  color: white;
  display: flex;
  align-items: center;
}

.produto-label > span {
  margin-left: 0.5em;
}

.produto-check {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 3px;
  background-color: transparent;
  border: 1px var(--primary-color) solid;
  transition: all 0.5s ease-out;
}

.info-produtos-checkbox:focus-visible + label .produto-check {
  box-shadow: 0px 0px 0px 2px var(--primary-variant-color);
}

.info-produtos-checkbox:checked + label .produto-check {
  position: relative;
  background-color: var(--secondary-color);
}

.info-produtos-checkbox:checked + label .produto-check::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px white solid;
  transform: rotate(45deg);
  border-top: none;
  border-left: none;
  box-sizing: border-box;
}

.info-produtos-title {
  font-size: 1em;
  color: white;
}

.first-child {
  flex: 1;
}

.add-compra-button {
  align-self: flex-end;
  margin-top: 1em;
}
