.produto-conteiner {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: var(--surface-color);
  padding: 0 1em;
  margin: 0.5em 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.produto-title {
  font-size: 1em;
  font-weight: normal;
  color: white;
  flex: 2;
  transition: color 0.5s ease;
}

.produto-preco {
  font-size: 1em;
  font-weight: normal;
  color: white;
}

.produto-conteiner:hover .produto-title {
  color: var(--secondary-color);
}

.produto-button {
  width: 1em;
  height: 1em;
  padding: 0;
  border: none;
  margin-left: 1em;
  background-color: transparent;
}

.produto-icon {
  width: 100%;
  height: 100%;
}
